<div class="card-body">
  <div class="card-title">Temperatura do solo</div>

  <div class="d-flex justify-content-end">
    <div class="col-10 card-value">
      <div id="text">
        <span id="value">{{ value }}</span> <span id="unit">ºC</span>
        <div *ngIf="station" class="subtitle">Estação: {{ station }}</div>
        <div *ngIf="central" class="subtitle">{{ central }}</div>
      </div>
    </div>

    <div class="col-2 card-icon text-right">
        <i class="fas fa-thermometer-three-quarters"></i>
    </div>
  <div>
</div>