@import '../../app.component';

.wrapper {
    width: 100%;
}

.container {
    margin: 15px;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.3);
}

.setup-option p{
    font-size: 1.2em;
    color: $primary-font-color;
}

#setup-icon{
    font-size: 4em;
    color: $green-color;
}