<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>

    <div class="container text-center">
      <div [hidden]="cards.length > 0" class="content-container">
        <h1>Seja bem-vindo</h1>

        <p>Você ainda não cadastrou nenhum cartão ao seu dashboard!</p>
        <p>Sinta-se livre para customizar seu painel principal com os widgets que achar necessário</p>

        <div class="row">
          <div class="col setup-option">
            <button type="button" class="btn" data-toggle="modal" data-target="#add-widget">
              Adicionar novos cartões
            </button>
          </div>
        </div>
      </div>

      

      <!-- Has centrals -->
      <div [hidden]="cards.length <= 0" class="content">
        <h1>Seja bem-vindo</h1>
        
        <p>Esses são seus últimos dados</p>



        <div class="board">
          <div *ngFor = "let card of cards">
            <ng-template #cardView></ng-template>
          </div>
        </div>  

        <div class="row">
          <div class="col setup-option">
            <button type="button" class="btn" data-toggle="modal" data-target="#add-widget">
              Adicionar novos cartões
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-widget" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adiconar novo widget</h5>
          </div>
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <label>Tipo do cartão</label>
              <select [(ngModel)]="cardTypes.description" id="cardType" name="cardType">
                <option *ngFor="let cardType of cardTypes" [value]="cardType.name">
                  {{ cardType.description }}
                </option>
              </select>

              <div *ngIf="f.value.cardType && f.value.cardType.includes('last')">
                <label>Central de coleta</label><br>
                <select [(ngModel)]="centrals.mac_address" id="central" name="central">
                  <option *ngFor="let central of centrals" [value]="central.mac_address">
                    {{ central.mac_address }} 
                  </option>
                </select>

                <br>

                <label>Estação de coleta</label><br>
                <select [(ngModel)]="stations.name" id="station" name="station">
                  <ng-container *ngFor="let station of stations">
                    <option *ngIf="station.related_central == f.value.central" [value]="station.name">
                      {{ station.name }} 
                    </option>
                  </ng-container>
                </select>

              </div>

              <br>
              <button type="submit">Inserir</button>
            </form>

          </div>
        </div>
      </div>
    </div>


  </div>
</body>
    