@import '../../app.component';

body {
  background-color: #67615B;
  color: $second-font-color;
}

.wrapper {
    width: 100%;
}

.setup-option p{
    font-size: 1.2em;

}

#setup-icon{
    font-size: 4em;
    color: $green-color;
}

.card-view{
    border-radius: 100px;
    color: $primary-font-color;
}