<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>

    <div class="container text-center">
      <div [hidden]="cards.length > 0">
        <div id="page-title">
            <h2>Pronto para uma nova experiência?</h2>
        </div>

        <p>Você ainda não cadastrou nenhum cartão ao seu dashboard!</p>
        <p>Sinta-se livre para customizar seu painel principal com os widgets que achar necessário</p>

        <button type="button" id="btn-card" data-toggle="modal" data-target="#add-widget">
          <i class="fas fa-plus"></i> cartões
        </button>

      </div>

      <!-- Has centrals -->
      <div [hidden]="cards.length <= 0" class="content">
        <div id="page-title" class="text-left">
            <h2>RICC - Visão Geral</h2>
        </div>
        <hr>
        

        <graphic></graphic>





        <div class="row board justify-content-center">
          <div *ngFor = "let card of cards" >
            <div class="card-view">
              <ng-template #cardView></ng-template>
            </div>
          </div>
        </div>  

        <button type="button" id="btn-card" data-toggle="modal" data-target="#add-widget">
          <i class="fas fa-plus"></i> cartões
        </button>

      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-widget" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionar novo cartão</h5>
          </div>
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="form-group">
                <label>Tipo do cartão:</label>
                <select class="form-control" [(ngModel)]="cardTypes.description" id="cardType" name="cardType" required>
                  <option *ngFor="let cardType of cardTypes" [value]="cardType.name">
                    {{ cardType.description }}
                  </option>
                </select>
              </div>

              <div>
                <label>Central de coleta:</label>
                <select class="form-control" [(ngModel)]="centrals.mac_address" id="central" name="central" required>
                  <option *ngFor="let central of centrals" [value]="central.mac_address">
                    {{ central.mac_address }} 
                  </option>
                </select>
              </div>
              
              <br>

                <div *ngIf="f.value.cardType && f.value.cardType.includes('last')">
                  <label>Estação de coleta:</label>
                  <select class="form-control" [(ngModel)]="stations.name" id="station" name="station">
                    <ng-container *ngFor="let station of stations">
                      <option *ngIf="station.related_central == f.value.central" [value]="station.name">
                        {{ station.name }} 
                      </option>
                    </ng-container>
                  </select>

              </div>

              <div class="modal-footer">
                <button id="btn-modal" type="submit">Inserir</button>
              </div>  
            </form>

          </div>
        </div>
      </div>
    </div>


  </div>
</body>
    