<body>  
    <div class="content">
      <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
      
      <div class="container text-center">
        <h2> Entrar </h2>
        
        <form>
          <input type="text" placeholder="E-mail"/>
          <input type="password" placeholder="Senha"/>
  
          <button>Entrar</button>
  
          <span>
            <a href="/" id="forgot-password-link">Esqueceu sua senha?</a>
          </span>
    
        </form>
        
        <br>
        <span>
            Ainda não tem uma conta?
            <a href="/signup" id="signup-link">Crie a sua agora</a>
          </span>

      </div>
  
    </div>
    </body>
    