<body>  
    <div class="content">
      <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
      
      <div class="container text-center">
        <h2> Entrar </h2>
        
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <input name="email" id="email" type="text" placeholder="E-mail" ngModel/>
          <input name="password" id="password" type="password" placeholder="Senha" ngModel/>
  
          <button>Entrar</button>
  
          <span>
            <a href="/forgotpassword" id="forgot-password-link">Esqueceu sua senha?</a>
          </span>
    
        </form>
        
        <br>
        <span>
            Ainda não tem uma conta?
            <a href="/signup" id="signup-link">Crie a sua agora</a>
          </span>

      </div>
  
  </div>
</body>
    