<body>  
  <div class="content">
    <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
    
    <div class="container text-center">
      <h2> Entrar </h2>

      <div *ngIf="errors" class="text-danger">
        {{ errors }}
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        
        <div class="input text-left">
          <input name="email" type="text" id="email" placeholder="E-mail" 
            [(ngModel)]="user.email" #email="ngModel" required/>
        
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required" class="text-danger">
              Email é um campo obrigatório.
            </div>
          </div>
        </div> 

        <div class="input text-left">
          <input name="password" type="password" id="password" placeholder="Sua senha" 
            [(ngModel)]="user.password" #password="ngModel" required/>
        
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required" class="text-danger">
              Sua senha é obrigatória.
            </div>
          </div>
        </div>

        <button type="submit">Entrar</button>
  
        <span>
          <a routerLink="/forgotpassword" id="forgot-password-link">Esqueceu sua senha?</a>
        </span>


      </form>        

      <br>
      <span>
          Ainda não tem uma conta?
          <a id="signup-link" routerLink="/signup" [routerLinkActive]="['active']">Crie a sua agora</a>
        </span>

    </div>

</div>
</body>
  