<body>  
  <div class="content">
    <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
      
    <div class="container text-center">
      <h2> Quem somos nós? </h2>
        
      <div class="description row">
        <img class="col" src="../../../assets/imgs/team.jpg" alt="RICC-Team">
        
        <span class="description-text text-justify col">
          <p>Somos alunos de engenharia da Universidade de Brasília (UnB), campus Gama, apaixonados por inovação e desafios.</p>

          <p>Sabemos que a agricultura no Brasil é um dos grandes produtos de exportação, com isso há necessidade
            de auxiliar quem se dedica no crescimento do setor com o que a de mais moderno para melhor tomada de decisão.
          </p>

          <p>O corpo de trabalho da RICC se preocupa em levar o melhor serviço para quem realmente vive o campo todo dia.</p>
        </span>
      </div>  
    </div>
  </div>
</body>
    