@import '../../app.component';

.wrapper {
    width: 100%;
}

.container {
    margin: 15px;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.3);
}

.border-right {
    border-width: 2px !important;
    border-color: #ccc !important;
}

.input {
    margin-left: 25%;
    padding: 10px;
}

@media (max-width: 991.98px) { 
    .input {
        margin-left: 0%;
    }
}