<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>

    <div class="container text-center">
      <div class="row content-container">
        <div class="col border-right">
          <h3>Redefinir senha</h3>
          <form>
            <div class="input text-left">
              <input name="current_password" type="password" id="current_password" placeholder="Senha atual" required/>  
            </div> 

            <div class="input text-left">
              <input name="password_1" type="password" id="password_1" placeholder="Nova senha" required/>  
            </div> 

            <div class="input text-left">
              <input name="password_2" type="password" id="password_2" placeholder="Repita a nova senha" required/>  
            </div> 
    
            <button>Atualizar</button>  
          </form>  
        </div>

        <div class="col">
          <h3>Notificações</h3>
          <p>Ativar sistema de Notificações</p>

          <span>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </span>
        </div>

      </div>


    </div>

  </div>

</body>
    