@import '../../app.component';

body {
    background-color: #67615B;
    color: $second-font-color;
}

.wrapper {
    width: 100%;
}

.border-right {
    border-width: 2px !important;
    border-color: #ccc !important;
}

.input {
    margin-left: 25%;
    padding: 10px;
    color: $primary-font-color;
}

@media (max-width: 991.98px) { 
    .input {
        margin-left: 0%;
    }
}