@import '../../app.component';

body {
    background-color: #67615B;
    color: $second-font-color;
}

#page-title {
    margin-bottom: 3%;
}

button {
    margin: 0;
    border: 0px;
    border-radius: 0px;
    background-color: rgba(73, 66, 61, 1);
    width: 100%;
}

button:hover {
    text-decoration: none;
    color: white;
}

button i {
    color: $green-color;
    font-size: 1em;
    font-weight: 600;
}

.card {
    border: 0px;
}

.card-header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #aa988c;
}

.card-body {
    background-color: #67615B;
}

#title {
    font-weight: 500;
    margin: 10px;
}

#description {
    font-size: 0.8em;
    font-weight: 300;
}

#delete-icon {
    margin-left: 20px;
}