<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>
  
    <div class="container text-center">
      <div id="page-title" class="text-left">
          <h2>Atuadores </h2>
          <h6 *ngIf="relatedCentral">Central: <b>{{ relatedCentral }}</b> </h6>
      </div>

  
      <div id="accordion">
        <div class="card" *ngFor="let actuator of actuators;">
        <div *ngIf="actuator.data !== undefined">
          <div class="card-header" id="{{ actuator.name + '_header' }}">
            <button class="btn-link text-left align-content-center" data-toggle="collapse" [attr.data-target]="'#actuator_' + actuator.name">
              <!-- <div class="text-right">
                <span class="text-right"><i class="fas fa-eye"></i></span>
                <a href="#" class="text-right" id="delete-central">
                  <i class="text-right text-danger far fa-trash-alt" id="delete-icon"></i>
                </a>
              </div> -->
              
              <span id="title">
                <i class="fas fa-shower"></i>
                Atuador {{  actuator.name }}

                <i *ngIf="actuator.status == true" class="text-success fas fa-circle"></i>
                <i *ngIf="actuator.status == false" class="text-danger fas fa-circle"></i>
        
              </span>

              <!-- <div>
                <span id="description">Última atualização: {{ actuator.data.collected_at }}</span>
              </div> -->

            </button>
          </div>
      
          <div id="{{ 'actuator_' + actuator.name }}" class="collapse" aria-labelledby="actuator" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <!-- <div class="col border-right">
                  <h5>Último uso</h5>
                  <h3>{{ actuator.data.last_active }}</h3> 
                </div>
           -->  
                <div class="col"><h4>Acionamento manual</h4></div>
                <div class="col">
                  <span>
                    <label class="switch">
                      <input type="checkbox" (click)="switchActuator(actuator.related_central)">
                      <span class="slider round"></span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
      