<body>
  <div class="background">
    <video autoplay muted poster="../../assets/imgs/farm_poster.png">
      <source src="../../../assets/vids/farm_bg.mp4" type="video/mp4">
    </video> 
  </div>

  <div class="content">
    <ricc-navbar [theme]="'light'"></ricc-navbar>
    
    <div class="container text-center">
      <h2 class="text-left" id="up-title"> RICC</h2>
      <h1 class="text-left font-weight-bold" id="main-title">CONTROLE DE CULTURA</h1>
      <h5>Veja seu plantio como você nunca viu antes!</h5>
      
      <a href="/seemore">
        <button type="button" href="/seemore"> CONHEÇA MAIS</button>
      </a>
    </div>

  </div>
</body>
