@import '../../app.component.scss';

.container {
    margin-top: 4%;
}

.row {
    margin-top: 3%;
}

.thumb {
    width: 100%;

}

#contact-us {
    margin-top: 5%;
    padding-top: 3%;
    border-top: 2px groove;
    border-top-color: rgba(170, 152, 140, 0.6);
}

p {
    margin-top: 5px;
}