<body>  
  <div class="content">
    <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
      
    <div class="container text-center">
      <h2> O que você ganha usando a RICC? </h2>
      
      <div class="row justify-content-between">
        <span class="col-md-3">
          <img class="rounded thumb" src="../../../assets/imgs/dashboard.jpg" alt="dashboard"><br>
          <p>Acesso a informações do solo e climáticas onde estiver</p>
        </span>
        
        <span class="col-md-3">
          <img class="rounded thumb" src="../../../assets/imgs/center-pivot.jpg" alt="center-pivor"><br>
          <p>Manejo de irrigação para melhor aproveitamento dos recursos</p>
        </span>
  
        <span class="col-md-3">
          <img class="rounded thumb" src="../../../assets/imgs/control.jpg" alt="control"><br>
          <p>Controle inteligente para melhor gestão do seu negócio</p>
        </span>
      </div>  

      <div id="contact-us">
        <h5>Ficou interessado? Deixe sua informações que a nossa equipe entrará em contato.</h5>
        <form>
          <div class="input text-left">
            <input name="name" type="text" id="name" placeholder="Nome" required/>  
          </div> 

          <div class="input text-left">
            <input name="email" type="text" id="email" placeholder="E-mail" required/>  
          </div> 
  
          <div class="input text-left">
            <input name="telephone" type="text" id="telephone" placeholder="Telefone" required/>  
          </div> 

          <div class="input text-left">
            <input name="address" type="text" id="address" placeholder="Endereço" required/>  
          </div> 
            
          <button>Contatar</button>
        </form>
      </div> 
    </div>

  </div>

  
</body>
