<body>
    <div class="d-flex">  
      <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>
  
      <div class="container text-center">
        <h1 id="page-title">Suas estações</h1>
  
        <div id="accordion">
          <div class="card" *ngFor="let station of stations;">
            <div class="card-header" id="{{ station.name + '_header' }}">
              <button class="btn-link text-left align-content-center" data-toggle="collapse" [attr.data-target]="'#station_' + station.name">
                <div>
                  <span id="title">
                    <i class="fas fa-broadcast-tower"></i>
                    Estação {{ station.name }}

                    <i *ngIf="station.status == true" class="text-success fas fa-circle"></i>
                    <i *ngIf="station.status == false" class="text-danger fas fa-circle"></i>
            
                  </span>
                </div>

                <div class="d-flex justify-content-between">
                  <span id="description">Última atualização: {{ station.data.collected_at }}</span>
                  <span>
                    <span class="text-right"><i class="fas fa-eye"></i></span>
                    <a href="#" class="text-right" id="delete-central">
                      <i class="text-right text-danger far fa-trash-alt" id="delete-icon"></i>
                    </a>  
                  </span>
                </div>
                </button>
            </div>
        
            <div id="{{ 'station_' + station.name }}" class="collapse" aria-labelledby="station" data-parent="#accordion">
              <div class="card-body">
                <div class="row justify-content-md-center">
                  <soil-temperature-card [value]="station.data.soil_datas[0].temperature"></soil-temperature-card>
                  <soil-temperature-card [value]="station.data.soil_datas[0].temperature"></soil-temperature-card>
                  <air-temperature-card [value]="station.data.air_datas[0].temperature"></air-temperature-card>
                  <air-humidity-card [value]="station.data.air_datas[0].humidity"></air-humidity-card>    
                </div>

                <div class="row justify-content-md-center">
                  <air-pressure-card [value]="station.data.air_datas[0].pressure"></air-pressure-card>
                  <solar-radiation-card [value]="station.data.solar_datas[0].radiation"></solar-radiation-card>
                  <rain-rainfall-card [value]="station.data.rain_datas[0].rainfall"></rain-rainfall-card>
                  <soil-temperature-card [value]="station.data.soil_datas[0].temperature"></soil-temperature-card>    
                </div>

                <!-- <table class="table table-sm table-bordered table-hover">
                  <tbody>
                    <tr>
                      <td>Umidade solo ponto 01</td>
                      <td>{{ station.data.soil_datas[0].moisture1 }} %</td>
                    </tr>

                    <tr>
                      <td>Umidade solo ponto 02</td>
                      <td>{{ station.data.soil_datas[0].moisture2 }} %</td>
                    </tr>

                    <tr>
                      <td>Umidade solo ponto 03</td>
                      <td>{{ station.data.soil_datas[0].moisture3 }} %</td>
                    </tr>

                    <tr>
                      <td>Temperatura do solo</td>
                      <td>{{ station.data.soil_datas[0].temperature }} ºC</td>
                    </tr>

                    <tr>
                      <td>Temperatura Ambiente</td>
                      <td>{{ station.data.air_datas[0].temperature }} ºC</td>
                    </tr>

                    <tr>
                      <td>Pressão atmosférica</td>
                      <td>{{ station.data.air_datas[0].temperature }} hPa</td>
                    </tr>
  
                    <tr>
                      <td>Umidade relativa do ar</td>
                      <td>{{ station.data.air_datas[0].humidity }} %</td>
                    </tr>
  
                    <tr>
                      <td>Radiação Solar</td>
                      <td>{{ station.data.solar_datas[0].radiation }}  kJ/m²</td>
                    </tr>
  
                    <tr>
                      <td>Velocidade do vento</td>
                      <td>{{ station.data.wind_datas[0].speed }}  m/s</td>
                    </tr>
  
                    <tr>
                      <td>Direção do vento</td>
                      <td>{{ station.data.wind_datas[0].direction }} </td>
                    </tr>
  
                    <tr>
                      <td>Pluviosidade</td>
                      <td>{{ station.data.rain_datas[0].rainfall }} mm</td>
                    </tr>

                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
  
        </div>

      </div>
  
    </div>
  
  </body>
      