<body>
    <div class="d-flex">  
      <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>
  
      <div class="container">
        <div id="page-title" class="text-left">
            <h2>Estações</h2>
            <h6 *ngIf="relatedCentral">Central: <b>{{ relatedCentral }}</b> </h6>
        </div>
    
        <div id="accordion">
          <div class="card" *ngFor="let station of stations;">
            <div *ngIf="station.data !== undefined">
              <div class="card-header" id="{{ station.name + '_header' }}">
                <button class="btn-link text-left align-content-center" data-toggle="collapse" [attr.data-target]="'#station_' + station.name">
                  <!-- <div class="text-right">
                    <span class="text-right"><i class="fas fa-eye"></i></span>
                    <a href="#" class="text-right" id="delete-central">
                      <i class="text-right text-danger far fa-trash-alt" id="delete-icon"></i>
                    </a>  
                  </div> -->

                  <span id="title">
                    <i class="fas fa-broadcast-tower"></i>
                    Estação {{ station.name }}

                    <i *ngIf="station.status == true" class="text-success fas fa-circle"></i>
                    <i *ngIf="station.status == false" class="text-danger fas fa-circle"></i>
            
                  </span>

                  <div>
                    <span id="description">Última atualização: {{ station.data.collected_at }}</span>
                  </div>

                  </button>
              </div>
          
              <div id="{{ 'station_' + station.name }}" class="collapse" aria-labelledby="station" data-parent="#accordion">
                <div class="card-body">
                  <div class="row justify-content-center" id="cards-hack">
                    <div *ngIf="station.data.air_datas[0] !== undefined">
                      <air-temperature-card [value]="station.data.air_datas[0].temperature"></air-temperature-card>
                    </div>
                    <div *ngIf="station.data.soil_datas[0] !== undefined">  
                      <soil-humidity-card [value]="{moisture1:station.data.soil_datas[0].moisture1, moisture2:station.data.soil_datas[0].moisture2, moisture3:station.data.soil_datas[0].moisture3}"></soil-humidity-card>
                    </div>
                    <div *ngIf="station.data.soil_datas[0] !== undefined">
                      <soil-temperature-card [value]="station.data.soil_datas[0].temperature"></soil-temperature-card>
                    </div>
                    <div *ngIf="station.data.air_datas[0] !== undefined">
                      <air-humidity-card [value]="station.data.air_datas[0].humidity"></air-humidity-card>    
                    </div>
                    <div *ngIf="station.data.air_datas[0] !== undefined">
                      <air-pressure-card [value]="station.data.air_datas[0].pressure"></air-pressure-card>
                    </div>                
                    <div *ngIf="station.data.solar_datas[0] !== undefined">
                        <solar-radiation-card [value]="station.data.solar_datas[0].radiation"></solar-radiation-card>
                      </div>
                    <div *ngIf="station.data.wind_datas[0] !== undefined">
                      <wind-speed-direction-card [value]="{speed:station.data.wind_datas[0].speed, direction: station.data.wind_datas[0].direction}"></wind-speed-direction-card>    
                    </div>
                    <div *ngIf="station.data.rain_datas[0] !== undefined">
                      <rain-rainfall-card [value]="station.data.rain_datas[0].rainfall"></rain-rainfall-card>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>

      </div>
  
    </div>
  
  </body>
      