<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>

    <div class="container text-center">
      <div class="content-container">
        <h1>Suas informações</h1>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="input text-left">
            <input name="name" type="text" id="name" placeholder="Seu nome" 
              [(ngModel)]="user.name" #name="ngModel" required/>
            
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors.required" class="text-danger">
                Email é um campo obrigatório.
              </div>
            </div>
          </div>

          <div class="input text-left">
            <input name="username" type="text" id="username" placeholder="E-mail" 
              [(ngModel)]="user.username" #username="ngModel" required/>
            
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
              <div *ngIf="username.errors.required" class="text-danger">
                Email é um campo obrigatório.
              </div>
            </div>
          </div>

          <div class="input text-left">
            <input name="ricc_code" type="text" id="ricc_code" placeholder="Seu código RICC" 
              [(ngModel)]="user.ricc_code" #ricc_code="ngModel" required/>
            
            <div *ngIf="ricc_code.invalid && (ricc_code.dirty || ricc_code.touched)">
              <div *ngIf="ricc_code.errors.required" class="text-danger">
                Email é um campo obrigatório.
              </div>
            </div>
          </div> 

          <button type="submit">Atualizar</button>  
        </form>
        
        <hr>

        <span>
          Não desejo mais utilizar os serviços da RICC. Quero
          <a class="text-danger" href="/delete" id="delete-account">apagar minha conta</a>
        </span>

      </div>
    </div>
  </div>
</body>
    