@import '../../app.component';

body {
    background-color: #67615B;
    color: $second-font-color;
}

.wrapper {
    width: 100%;
}

hr {
    border: 1px solid white;
}

.input {
    margin-left: 25%;
    padding: 10px;
    width: 75%;
    color: $primary-font-color;
}

@media (max-width: 991.98px) { 
    .input {
        margin-left: 0%;
        width: 100%;
    }
}