@import '../../app.component.scss';

.container {
    margin-top: 4%;
}

#login-link {
    font-weight: bold;
}

#login-link:hover {
    font-weight: normal;
}

.input {
    margin-left: 25%;
    padding: 10px;
}

@media (max-width: 991.98px) { 
    .input {
        margin-left: 0%;
    }
}