<body>  
  <div class="content">
    <ricc-navbar [theme]="'dark-green'"></ricc-navbar>
    <div class="container text-center">
      <h2> Cadastre-se</h2>
      <h6>Crie sua conta e comece a otimizar sua produção</h6>
      
      <div *ngIf="errors" class="text-danger">
        {{ errors }}
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        
        <div class="input text-left">
          <input name="email" type="text" id="email" placeholder="E-mail" 
            [(ngModel)]="user.email" #email="ngModel" pattern="^[^@]+@[^@]+\.[^@]+$" required/>
        
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required" class="text-danger">
              Email é um campo obrigatório.
            </div>
            <div *ngIf="email.errors.pattern" class="text-danger">
              Favor inserir um email válido.
            </div>
          </div>
        </div>

        <div class="input text-left">
          <input name="mac_address" type="text" id="mac_address" placeholder="Seu código RICC" 
            [(ngModel)]="user.mac_address" #mac_address="ngModel" required/>
        
          <div *ngIf="mac_address.invalid && (mac_address.dirty || mac_address.touched)">
            <div *ngIf="mac_address.errors.required" class="text-danger">
              O código RICC é um campo obrigatório.
            </div>
          </div>
        </div>


        <div class="input text-left">
          <input name="password" type="password" id="password" placeholder="Sua senha" 
            [(ngModel)]="user.password" #password="ngModel" required/>

          <span *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required" class="text-danger">
              Sua senha é obrigatória.
            </span>
          </span>
        </div>

        
        <div class="input text-left">
          <input name="cPassword" type="password" id="cPassword" placeholder="Confirme sua senha" 
            [(ngModel)]="user.cPassword" #cPassword="ngModel" required/>
                    
          <div *ngIf="(cPassword.value !== password.value) && (cPassword.dirty || cPassword.touched)" class="text-danger">
            As senhas não são iguais.
          </div>

        </div>

        <button type="submit">Cadastre-se</button>

        <span>
          Já tem conta?
          <a id="login-link" routerLink="/login" [routerLinkActive]="['active']">Faça login</a>
        </span>
  
      </form>

    </div>

  </div>
  </body>
  