<body>
  <div class="d-flex">  
    <ricc-navbar [theme]="'light-dark'" [isLoggedIn]="true"></ricc-navbar>

    <div class="container text-center">

      <div class="card" *ngFor="let central of centrals;">
        <div class="card-header centrals-top d-flex align-items-center justify-content-between">
          <div>
            
            <span id="centrals-title">Central <span id="centrals-name">{{ central.mac_address }}</span></span> 
          </div>

          <div>  
            <a href="#" class="text-right" id="edit-central">
              <i class="text-right fas fa-pen" id="edit-icon"></i>
            </a>
            <a href="#" class="text-right" id="delete-central">
              <i class="text-right text-danger far fa-trash-alt" id="delete-icon"></i>
            </a>
          </div>  
        </div>

        <div class="card-body row centrals-content">
          <div class="col border-right cursor-pointer" routerLink="/riccs/stations/{{ central.mac_address}}">
            <span id="option-icon"><i class="fas fa-broadcast-tower"></i></span>
            <p id="number">{{ central.amount_stations }}</p>
            <p>Estações</p>
          </div>

          <div class="col border-right">
            <span id="option-icon"><i class="fas fa-shower"></i></span>
            <p id="number">{{ central.amount_actuators }}</p>
            <p>Atuadores</p>
          </div>

          <div class="col">
            <span>
              <label class="switch">
                <input type="checkbox" [checked]="central.automatic_irrigation">
                <span class="slider round"></span>
              </label>
            </span>
            <p>{{ changeStatusText }}</p>
            <p>Irrigação automática</p>
          </div>

        </div>
      </div>

      <div class="add-more text-left">
        <a href="#">
            <i class="fas fa-plus"></i>
            Adicionar nova central
        </a>
      </div> 

    </div>
  </div>

</body>
    