@import '../../app.component';

body {
    background-color: #4f4944;
    color: $second-font-color;
}

.wrapper {
    width: 100%;
}

.card {
    background-color: #67615B;
    margin-top: 3%;
}

.card-header {
    background-color: transparent;
    border-color: white;
}

.centrals-top {
    margin: 0;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
}

#edit-central {
    color: $primary-font-color;
}

#edit-icon {
    font-size: 1.3em;
}

#delete-icon {
    font-size: 1.3em;
}


#centrals-title {
    font-size: 2em;
}

#centrals-name {
    font-size: 0.7em;
    font-weight: thin;
}

.centrals-top i{
    margin-right: 30px;
    font-size: 0.7em;
}

hr {
    margin: 0;
    padding: 0;
}

.centrals-content {
    margin-top: 30px;
    padding: 10px;
}

#number {
    font-size: 2em;
}

#option-icon {
    font-size: 3em;
    color: $green-color;
}

.col {
    align-self: center;
}

.border-right {
    border-color: #ccc !important;
}

#icon-up {
    color: green;
}

#icon-down {
    color: green;
}

#icon-warning {
    color: green;
}

.cursor-pointer {
    cursor: pointer;
}