$primary-font: lato;
$green-color: #B2B934;
$primary-font-color: #47525E;

::-webkit-scrollbar { 
    display: none; 
}

body {
    font-family: $primary-font;
    color: $primary-font-color;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
}


button {
    margin: 20px;
    background-color: rgba(66, 53, 43, 1);
    border-color:white;
    border-style: solid;
    border-radius: 100px;
    color: white;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

form {
    display: inline-block;
}

input {
    display: block;
    margin: 15px;
    padding-left: 10px;
    width: 100%;
}

a {
    color: $green-color;
}

a:hover {
    color: $green-color;
    font-weight: normal;
}

.add-more {
    font-size: 1.2em;
    margin-top: 30px;
}

.add-more a{
    color: $primary-font-color;
}

.add-more i{
    color: $green-color;
}

.fa-circle {
    margin-left: 10px;
    font-size: 0.4em !important;
}