<body>
  <nav class="navbar navbar-expand justify-content-between">
    <span>
      <a class="navbar-brand" href="#">RICC</a>
    </span>

    <div class="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Sign up</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>

</body>