<body class="{{ theme }}">
  <div *ngIf="!isLoggedIn">
    <nav class="navbar navbar-expand-lg justify-content-between">
      <a class="navbar-brand" href="/">
        <img src="../../../assets/imgs/leaf_light.png" alt="RICC-logo" id="logo"/><br>
        <span id="text">RICC</span>
      </a>
      
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#options">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>


      <div class="collapse navbar-collapse" id="options">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" [routerLinkActive]="['active']">Sign up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">Login</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" [routerLinkActive]="['active']">About us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div *ngIf="isLoggedIn" class="{{ sidebarStatus }}">
    <nav class="navbar">
      <div class="navbar-brand">
        <button (click)="changeSidebar(sidebarStatus)">
          <img src="../../../assets/imgs/leaf_light.png" alt="RICC-logo" id="logo"/><br>
          <span *ngIf="sidebarStatus == 'sidebar-open'" >RICC</span>
        </button>
      </div>
       
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']">
            <i class="text-center fas fa-chart-bar"></i>
            <span  *ngIf="sidebarStatus == 'sidebar-open'" class="text">Dashboard</span>
            <i class="text-right fas fa-chevron-right arrow"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#profile-options" aria-expanded="true" aria-controls="profileOptions">
            <i class="text-center fas fa-user"></i>
            <span  *ngIf="sidebarStatus == 'sidebar-open'" class="text">Profile</span>     
            <i class=" text-right fas fa-chevron-down arrow"></i>
          </a>
            
          <div *ngIf="sidebarStatus == 'sidebar-open'" routerLink="/profile" [routerLinkActive]="['show']" id="profile-options" class="text-right collapse options" aria-labelledby="profileOptions">              
            <a class="nav-link item-options" routerLink="/profile/user" [routerLinkActive]="['active']">
              <span class="text">Meu perfil</span>
            </a>
            
            <a class="nav-link item-options" routerLink="/profile/settings" [routerLinkActive]="['active']">
              <span class="text">Configurações</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/riccs" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#ricc-options" aria-expanded="true" aria-controls="riccOptions">
            <i class="text-center fas fa-project-diagram"></i>
            <span  *ngIf="sidebarStatus == 'sidebar-open'" class="text">RICCs</span>
            <i class=" text-right fas fa-chevron-down arrow"></i>       
          </a>
            
          <div *ngIf="sidebarStatus == 'sidebar-open'" routerLink="/riccs" [routerLinkActive]="['show']" id="ricc-options" class="text-right collapse options" aria-labelledby="profileOptions">              
            <a class="nav-link item-options" routerLink="/riccs/centrals" [routerLinkActive]="['active']">
              <span class="text">Centrais</span>
            </a>
            
            <a class="nav-link item-options" routerLink="/riccs/stations" [routerLinkActive]="['active']">
              <span class="text">Estações</span>
            </a>

            <a class="nav-link item-options" routerLink="/riccs/actuators" [routerLinkActive]="['active']">
              <span class="text">Atuadores</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" [routerLinkActive]="['active']">
            <i class="text-center fas fa-phone-volume"></i>
            <span *ngIf="sidebarStatus == 'sidebar-open'" class="text">Contate-nos</span>
            <i class=" text-right fas fa-chevron-right arrow"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="text-center fas fa-sign-out-alt" id="logout-icon"></i>
            <span *ngIf="sidebarStatus == 'sidebar-open'" class="text">Sair</span>
          </a>
        </li>
      </ul>

    </nav>





  </div>


</body>