@import '../../app.component';


body {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

button {
    border: transparent;
    background-color: transparent;
}

.navbar-toggler-icon i {
    font-size: 1.3em;
    color: white;
}

.navbar-collapse {
    font-size: 1.2em;
    align-items: center;
    justify-content: flex-end;
    
}

.navbar-brand {
    display: block;
}

.nav-item .active{
    font-weight: bold;
    color: $green-color;
}

#logo {
    width: 50%;
    height: auto;
}

// LIGHT THEME
.light .navbar-brand #logo{
    content: url('../../../assets/imgs/leaf_light.png');
}

.light a {
    color: white;
}

// DARK THEME
.dark-green {
    border-bottom: 2px groove;
    border-bottom-color: rgba(170, 152, 140, 0.6);
}

.dark-green a {
    color:#5D5650;
}

.dark-green .navbar-brand #logo{
    content: url('../../../assets/imgs/leaf_dark-green.png');
}

.dark-green .navbar-brand #text {
    color: $green-color;
}

.dark-green .navbar-toggler-icon i {
    color: $green-color;
}

