@import '../../app.component';


body {
    background-color: transparent;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.navbar-toggler-icon i {
    font-size: 1.3em;
    color: white;
}

.navbar-collapse {
    font-size: 1.2em;
    align-items: center;
    justify-content: flex-end;
    
}

.navbar-brand {
    display: block;
}

.nav-item .active{
    font-weight: bold;
    color: $green-color;
}

.navbar-nav {
    margin: 10px;
}

#logo {
    width: 50%;
    height: auto;
}

// LIGHT THEME
.light {
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
}
.light .navbar-brand #logo{
    content: url('../../../assets/imgs/leaf_light.png');
}

.light a {
    color: white;
}

// DARK THEME
.dark-green {
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    border-bottom: 2px groove;
    border-bottom-color: rgba(170, 152, 140, 0.6);
}

.dark-green a {
    color:#5D5650;
}

.dark-green .navbar-brand #logo{
    content: url('../../../assets/imgs/leaf_dark-green.png');
}

.dark-green .navbar-brand #text {
    color: $green-color;
}

.dark-green .navbar-toggler-icon i {
    color: $green-color;
}


// LIGHT DARK THEME
.light-dark {
    color: white;
    width: fit-content;
    background-color: #49423D;
    width: 100%;
    height: 100%;
    margin: 0;

}

.light-dark a {
    color: white;
}
.light-dark .navbar {
    padding: 0;
}

.light-dark .navbar-brand {   
    margin: 0;
    padding: 0;
    border-bottom: 2px groove;
    border-bottom-color: rgba(170, 152, 140, 0.6);
    width: 100%;
}

.light-dark .navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.light-dark .nav-item {
    border-bottom: 2px groove;
    border-bottom-color: rgba(170, 152, 140, 0.6);
    padding-top: 20px;
    padding-bottom: 20px;
}

.light-dark .nav-link {
    white-space: nowrap;
    overflow: hidden;
}

.light-dark .nav-link:hover {
    cursor: pointer;
}

.light-dark .nav-item a{
    margin-right: 5%;
}

.light-dark .nav-item .item-options{
    margin: 0;
    padding-right: 20px;
}

.light-dark .navbar-nav i{
    color: $green-color;
    width: 30%;
    max-width: 30%;
}

.light-dark .navbar-nav span{
    display: inline-block;
    margin: 0;
    width: 50%;
    max-width: 50%;
}

.light-dark .navbar-nav .arrow{
    color: white;
    font-size: 0.9em;
    margin-right: 0;
    width: 20%;
    max-width: 20%;
    align-content: flex-end;
}


.light-dark .options {
    background-color: #5D544D;
}

.light-dark .options a{
    border-bottom: 2px groove;
    border-bottom-color: rgba(170, 152, 140, 0.6);
}

.light-dark .active{
    border-left: 5px solid;
    border-bottom-color: $green-color;
}


// Sidebar open
.sidebar-open {
    width: 200px;
    min-height: 100vh;
    height: 100%;
    transition: width .4s linear;
    overflow: hidden;
}

.sidebar-open #logo{
    width: 70%;
}

.sidebar-open .title-text{
    overflow: hidden;
}

.sidebar-open .text{
    font-size: 1em;
    color: white;
    font-weight: normal;
}

.sidebar-open i{
    font-weight: 600;
    font-size: 1.3em;
}

// Sidebar partial
.sidebar-partial {
    min-height: 100vh;
    height: 100%;
    width: 80px;
    transition: width .4s linear;
    font-size: 1.4em;

}

.sidebar-partial .text{
    visibility: hidden;    
}

.sidebar-partial #logo{
    width: 100%;
}

.sidebar-partial .navbar-brand button{
    margin: 0;
    padding: 10px;
}

.sidebar-partial .navbar-nav {
    text-align: center;
}

.sidebar-partial .arrow{
visibility: hidden;
}

#logout-icon {
    transform: rotate(180deg);
}
